/* Top Bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--default-alpha);
  z-index: 10; /* Ensure the navbar is always on top */
  padding: 20px 0;
  border-bottom: 1px solid var(--default-border);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav .logo {
  font-size: 24px;
  color: var(--dark-text);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
}

.nav-links li {
  font-size: 16px;
}

.nav-links a {
  color: var(--dark-text);
  text-decoration: none;
  font-weight: lighter
}

.nav-links a:hover {
  color: #fff;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo .pins {
  height: 24px;
  width: max-content;
  padding:0 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background: var(--dark-box-bg);
  height: 100vh;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.hero-text {
  flex: 1;
  padding-right: 30px;
}


/* About Section */
.about,
.features,
.pricing {
  padding: 40px 20px;
  background: var(--dark-box-bg);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
}

/* Features Section */
.feature-cards,
.pricing-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.feature-card,
.pricing-card {
  background-color: var(--dark-box-bg);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 3px var(--dark-box-shadow);
  max-width: 300px;
  text-align: center;
}

/* Footer Section */
footer {
  padding: 20px;
  background-color: var(--dark-box-bg);
  text-align: center;
  color: var(--dark-text);
}



