:root {
  /* Theme */
  --white: #ffffff;
  --dark-bg: #0d1117;
  --dark-text: #c9d1d9;
  --dark-text-subtil: #696f78;
  --dark-box-bg: #161b22;
  --dark-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --dark-subtil: #262c3663;

  /* Accent Colors */
  --default: #262c36;
  --default-hover: #2d323b;
  --default-border: #3d444d;
  --default-alpha: #161b22f7;
  --primary: #3fca608f;
  --primary-hover: #249843;
  --secondary: #248d3c24;
  --disabled: #43a96640;
  --disabled-alpha: #43a9661c;

  /* Status Colors */
  --green: #41cf7c;
  --green-alpha: #41cf7c2e;
  --yellow: #feb32b;
  --yellow-alpha: #feb32b30;
  --red: #f95249;
  --red-alpha: #f9524930;
  --blue: #3c82db;
  --blue-alpha: #3c82db29;

  /* Size and Spacing */
  --default-spacing: 24px;
  --icon-size: 24px;
  --icon-spacing: 6px;
  --radius: 6px;
  --text-small: 14px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Satoshi-Regular;
  background-color: var(--dark-bg);
  color: var(--dark-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  border-bottom: 1px solid var(--default-border);
  padding: var(--default-spacing) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1 span {
  font-size: 24px;
}

h2 span {
  font-size: 14px;
  font-weight: lighter;
  background-color: inherit;
  color: var(--dark-text-subtil);
}

p {
  background-color: inherit;
  color: var(--dark-text-subtil);
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--blue);
  text-decoration: none;
  font-size: 14px;
}

a.btn {
  width: max-content;
  color: var(--white);
}

a:hover {
  text-decoration: underline;
}

a.btn:hover {
  text-decoration: none;
}

em {
  background-color: inherit;
  color: var(--dark-text);
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--dark-text);
}

button:hover {
  background-color: var(--default);
}

img {
  width: 100%;
  clip: auto;
}

textarea {
  resize: none;
  height: 200px;
}


footer {
  padding: 20px;
  background-color: var(--dark-box-bg);
  text-align: center;
  color: var(--dark-text);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: var(--default-spacing);
  background-color: var(--dark-box-bg);
  border-radius: var(--radius);
  box-shadow: 0 1px 3px var(--dark-box-shadow);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.container h1 {
  margin-bottom: var(--default-spacing);
}

.top-bar {
  position: fixed;
  max-height: 75px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--default-alpha);
  z-index: 10; /* Ensure the navbar is always on top */
  padding: 20px 0;
  border-bottom: 1px solid var(--default-border);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-full {
  max-width: 1600px;
}

.nav .logo {
  font-size: 24px;
  color: var(--dark-text);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
}

.nav-links li {
  font-size: 16px;
}

.nav-links a {
  color: var(--dark-text);
  text-decoration: none;
  font-weight: lighter
}

.nav-links a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-modal {
  position: relative;
  
}
.nav-modal .panel {
  display: none;
  position: absolute;
  width: 200px;
  top: 40px;
  right: 0;
  background-color: var(--dark-box-bg);
  box-shadow: var(--dark-box-shadow);
}

.nav-modal .panel.active {
  display: block;
}

.nav-modal .panel .item {
  padding: 16px;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo .pins {
  height: 24px;
  width: max-content;
  padding:0 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

.logo:hover {
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background: var(--dark-box-bg);
  height: 100vh;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.hero-text {
  flex: 1;
  padding-right: 30px;
}

.about,
.features,
.pricing {
  padding: 40px 20px;
  background: var(--dark-box-bg);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.feature-cards,
.pricing-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.feature-card,
.pricing-card {
  background-color: var(--dark-box-bg);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 3px var(--dark-box-shadow);
  max-width: 300px;
  text-align: center;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 75px;
  left: 0;
  background-color: var(--dark-bg);
  border-right: 1px solid var(--default-border) ;
}

.sidebar ul {
  margin-bottom: 16px;
}

.sidebar a {
  margin-left: 10px;
}

.sidebar-title {
  margin-left: 10px;
  margin-top: 24px;
}
.sidebar .item.active {
  border-right: 3px solid var(--blue);
  background-color: var(--dark-subtil);
}
.sidebar-items-info {
  display: block;
  font-size: 12px;
  color: var(--dark-text-subtil);
  margin-left: 10px;
  margin-bottom: 10px;
}

.inline-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.text-subtil {
  color: var(--dark-text-subtil);
}

.text-small {
  font-size: 14px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-aroud {
  justify-content: space-around;
}

.align-end {
  align-items: end;
}

.form-container {
    max-width: 360px;
}

.form-container .inline-box {
    width: 360px;
}

.form-container .form-loader-button {
    margin-top: 16px;
  }

.divider {
  background-color: inherit;
  color: var(--dark-text-subtil);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--default-spacing);
  margin-bottom: 16px;
}

.divider::after,
.divider::before {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: var(--dark-text-subtil);
}

.form-container a {
  display: block;
}

.form-container footer {
    text-align: left;
    padding: 0;
}


.field {
  position: relative;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  color: var(--dark-text);
  background-color: var(--default);
  border: 1px solid var(--default-border);
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  outline: none;
}

.input-secondary {
  background-color: transparent;
}

.input::placeholder {
  color: var(--dark-text-subtil);
}

.input:focus {
  border-color: var(--blue);
}

.input-label {
  display: block;
  font-size: 14px;
  color: var(--dark-text-subtil);
  margin-bottom: 10px;
}

.field:has(.input:focus) .input-label {
  color: var(--dark-text);
}

.input-error {
  border-color: var(--red);
}

.input-error:focus {
  border-color: var(--red);
}

.input-error::placeholder {
  color: var(--red);
}

.item {
  cursor: pointer;
  font-size: var(--text-small);
  background-color: inherit;
  color: var(--dark-text);
  padding: 8px;
}

.item:hover {
  background-color: var(--dark-subtil);
}

.item a {
  
  color: var(--dark-text);
}

.item a:hover {
  background-color: none;
  text-decoration: none;
}

.item .btn-icon:hover {
  background: none;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: var(--text-small);
  background-color: var(--default);
  color: var(--dark-text);
  text-align: center;
  border: 1px solid var(--default-border);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: transparent;
}

.btn:hover {
  background-color: var(--default-hover);
}

.btn:disabled {
  background-color: var(--default-alpha);
}

.btn-primary:disabled {
  background-color: var(--disabled-alpha);
  color: var(--disabled);
  border: none;
  cursor: not-allowed;
}

.btn-primary:disabled:hover {
  background-color: var(--disabled-alpha);
  color: var(--disabled);
}

.btn-full {
  width: 100%;
}

.btn-small {
  padding: 4px 8px;
}

.btn-icon,
.item-icon {
  display: flex;
  align-items: center;
}

.btn-icon .icon,
.item-icon .icon {
  font-size: 18px;
}

.btn-white {
  background-color: var(--dark-text);
  color: var(--dark-box-bg);
}

.btn-white:hover {
  background-color: #fff;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-secondary:hover {
  background-color: transparent;
}

.btn-danger {
  color: var(--red);
  background-color: var(--dark-box-bg);
}

.pins {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-text);
  border: 1px solid var(--default-border);
  border-radius: 4px;
  opacity: 0.9;
}

.pins .icon {
  font-size: 16px;
}

.pins-success {
  background-color: var(--green-alpha);
  color: var(--green);
  border-color: var(--green);
}

.pins-warning {
  background-color: var(--yellow-alpha);
  color: var(--yellow);
  border-color: var(--yellow);
}

.pins-error {
  background-color: var(--red-alpha);
  color: var(--red);
  border-color: var(--red);
}

.pins-info {
  background-color: var(--blue-alpha);
  color: var(--blue);
  border-color: var(--blue);
}

.pins.full-width {
  width: 100%;
}

.flash {
  position: absolute;
  width: max-content;
  bottom: 24px;
  right: 20px;
}

.flash > div {
  max-width: 400px;
  font-size: 14px;
  font-weight: lighter;
}

.icon {
  font-size: var(--icon-size);
  transition: all ease 0.2s;
}

.icon-left {
  margin-right: var(--icon-spacing);
}

.icon-right {
  margin-right: var(--icon-spacing);
}

.icon.arrow {
  font-size: 16px;
  margin-right: 2px;
}

.icon.arrow.active {
  transform: rotate(90deg);
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar:hover {
  background: none;
  opacity: .9;
}

.avatar-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.avatar-name {
  margin-left: var(--icon-spacing);
}

.avatar-small .avatar-image {
  width: 24px;
  height: 24px;
}

.avatar-small .avatar-name {
  font-size: var(--text-small);
}
